.mynav {
  box-shadow: 0px 5px 5px lightgray;
  margin-bottom: 10px;
  background-image: linear-gradient(to bottom right, #fefdff, #c3c9ff);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-text {
  color: #000c98 !important;
}
